#backtousers {
  border: none;
  background-color: transparent;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #545F7D;
}

#backtousers:focus {
  background-color: whitesmoke;
  box-shadow: none;
}

#pagetitle {
  width: 200px;
  height: 28px;
  margin-top: 32px;
  margin-left: 1px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #213F7D;
}

#useractions {
  width: 350px;
  margin-left: 43%;
}

.btn-outline-info:hover {
  background-color: transparent;
  color: #39CDCC;
}

.btn-outline-danger {
  margin-right: 42px;
}

.btn-outline-danger, .btn-outline-info {
  margin-top: 30px;
}

.btn-outline-danger:hover {
  background-color: transparent;
  color: #E4033B;
}

#userdetailscontainer {
  box-sizing: border-box;
  height: 210px;
  width: 903px;
  margin-left: 2px;
  margin-top: 46px;
  background: #FFFFFF;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

#nav-tabContent {
  height: 60%;
}

.userdetailstabcontrol {
  margin-right: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: white;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
}

.userdetailstabcontrol:hover {
  border: none;
  background-color: white;
  color: #39CDCC;
}

#userinfocontainer {
  box-sizing: border-box;
  width: 903px;
  height: 800px;
  margin-top: 30px;
  margin-left: 2px;
  background: #FFFFFF;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  font-family: "Work Sans";
  color: #213F7D;
}

.personalinfocontainer, #education, #socials, #guarantor {
  margin-top: 30px;
  margin-right: 0px;
  width: auto;
}

.educationcolumns {
  margin-right: 33px;
  width: auto;
}

.guarantorcolumns {
  width: auto;
  margin-right: 40px;
}

.detailtile {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #545F7D;
}

#verticalinecolumn {
  width: auto;
}

#lowertitle {
  margin-top: 30px;
}

#divider {
  margin-top: 30px;
}

#avatar {
  height: 90px;
}

.progress-bar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.progress {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

#shortdetailscon {
  margin-top: 30px;
  font-family: "Work Sans";
  color: #213F7D;
}

#bankbalance, #actname {
  margin-top: 20px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

#bankname {
  margin-top: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

#rating {
  margin-top: 10.96px;
}

#userstier {
  margin-top: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #545F7D;
}

#bvn {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #545F7D;
}

.emptycolumn {
  display: none;
}

.sectionheader {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-color: #39CDCC;
  color: #39CDCC;
  border-top: none;
  border-right: none;
  border-left: none;
}

#generaldetailscontroltab:focus, #documentscontroltab:focus, #bankdetailscontroltab:focus,
#loanscontroltab:focus, #savingscontroltab:focus, #appcontroltab:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #39CDCC;
  color: #39CDCC;
}/*# sourceMappingURL=userdetails.css.map */